mirrors:
  "registry.k8s.io":
    endpoint:
      - "http://{{ docker_registry_address }}"
  "nvcr.io":
    endpoint:
      - "http://{{ docker_registry_address }}"
  "docker.io":
    endpoint:
      - "http://{{ docker_registry_address }}"
  "quay.io":
    endpoint:
      - "http://{{ docker_registry_address }}"
  "docker.elastic.co":
    endpoint:
      - "http://{{ docker_registry_address }}"
  "262399703539.dkr.ecr.eu-central-1.amazonaws.com":
    endpoint:
      - "http://{{ docker_registry_address }}"