{{- $threeFirstOctets := (env "THREE_FIRST_OCTETS" | default "10.10.10") -}}

auth:
  enablePostgresUser: true
  postgresPassword: "postgres"
  database: "postgres"

primary:
  persistence:
    enabled: true
    size: 50Gi
    storageClass: openebs-zfspv
  service:
    type: LoadBalancer
    loadBalancerIP: "{{ $threeFirstOctets }}.104"


