{{- $thirdSubnetOctet := (env "THIRD_SUBNET_OCTET" | default "10") -}}
{{- $secondSubnetOctet := (env "SECOND_SUBNET_OCTET" | default "20") -}}

kong:
  proxy:
    type: LoadBalancer
    LoadBalancerIP: 10.{{ $secondSubnetOctet }}.{{ $thirdSubnetOctet }}.107
            