{{- $threeFirstOctets := (env "THREE_FIRST_OCTETS" | default "10.10.10") -}}

dnsmasq:
  customDnsEntries:
    - address=/app.prismaphotonics.com/{{ $threeFirstOctets }}.100
    - address=/helm-dashboard.prismaphotonics.com/{{ $threeFirstOctets }}.101
    - address=/kuberenetes-dashboard.prismaphotonics.com/{{ $threeFirstOctets }}.102
    - address=/airflow.prismaphotonics.com/{{ $threeFirstOctets }}.104
    - address=/app.map.com/{{ $threeFirstOctets }}.105