{{- $threeFirstOctets := (env "THREE_FIRST_OCTETS" | default "10.10.10") -}}

dnsmasq:
  customDnsEntries:
    - address=/shaked.prismaphotonics.net/{{ $threeFirstOctets }}.100
    - address=/helm-dashboard.prismaphotonics.net/{{ $threeFirstOctets }}.101
    - address=/kuberenetes-dashboard.prismaphotonics.net/{{ $threeFirstOctets }}.102
    - address=/airflow.prismaphotonics.net{{ $threeFirstOctets }}.104